body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

label,
select,
input {
  display: block;
  margin: 10px auto;
  font-size: 1rem;
}

label {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 20px;
}

ul {
  display: inline-block;
  text-align: left;
  margin: 0;
}

input,
select {
  padding: 6px;
  width: auto;
}
.personRadio {
  width: auto;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: auto;
}

th,
td {
  border: none;
  padding: 6px 12px;
  text-align: left;
  white-space: nowrap;
}

.buttonRow {
  margin-top: 20px;
}

button {
  background-color: #67b32d;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #579826;
}

#statusMsg {
  margin-top: 20px;
  font-weight: bold;
}

/* Tabelle im #memberList div */
table {
  border-collapse: collapse;
  margin: 1em auto 0;
  font-size: 1rem;
  width: auto;
}

/* Alternierende Hintergrundfarbe für gerade Zeilen */
table tr:nth-child(even) {
  background-color: #dddddd;
}

/* Tabellenkopf */
table th {
  font-weight: bold;
  background-color: transparent;
  text-align: center;
}

.saveIcon,
.delIcon,
.editIcon {
  cursor: pointer;
  margin-left: 6px;
  font-size: 1.1rem;
  color: #000;
}
.saveIcon {
  color: #67b32d;
}
.saveIcon:hover {
  color: #579826;
}
.delIcon {
  color: #c44;
}
.delIcon:hover {
  color: #a33;
}
.hidden {
  display: none;
}

.underlineLink {
  text-decoration: underline;
  color: #333;
  font-size: 1rem;
}

.underlineLink:hover {
  color: #000;
}

#groupWrapper {
  display: ruby;
  margin-bottom: 1rem;
}

.selectAll {
  font-style: italic;
}