<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Bereich - Abwesenheit Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}" />
    <script src="{{ url_for('static', filename='script-admin.js') }}"></script>
  </head>
  <body>
    <h1>Admin Bereich</h1>

    <p>Exportiere alle Log-Dateien von allen Schüler*innen:</p>
    <button id="exportLogsBtn">Log-Dateien exportieren</button>
    
    <p>Exportiere die aktuellen Unterrichtsgruppen oder den aktuellen ASV-Export:</p>
    <button id="exportGroupsBtn">Unterrichtsgruppen exportieren</button>
    
    <p>Lade einen neuen ASV-Export hoch, um die Unterrichtsgruppen zu erstellen bzw. ersetzen:</p>
    <button id="exportASVBtn">ASV-Datei exportieren</button>

    <p>Lade einen neuen ASV-Export hoch, um die Unterrichtsgruppen zu erstellen bzw. ersetzen:</p>
    <div class="buttonRow">
        <button id="deleteLogsBtn" style="background-color: red;">Log-Dateien löschen</button>
        <button id="importASVBtn" style="background-color: red;">ASV-Datei importieren</button>
        <input type="file" id="importASVFile" accept=".csv" style="display: none;" required>
        <button id="importGroupsBtn" style="background-color: red;">Gruppen importieren</button>
    </div>

    <p id="statusMsg"></p>
  </body>
</html>