<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bearbeiten - {{ group }} - Index {{ id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    <h2>Einträge des heutigen Tages für: {{ group }}, {{ id }}</h2>

    {% if entries %}
    <table>
        <tr>
            <th>Kürzel</th>
            <th>Gruppe</th>
            <th>ID</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.initials }}</td>
            <td>{{ entry.group }}</td>
            <td>{{ entry.id }}</td>
            <td>{{ entry.lastname }}</td>
            <td>{{ entry.firstname }}</td>
            <td>
                <select class="statusSel">
                    <option value="eingetreten" {{ 'selected' if entry.status == 'eingetreten' else '' }}>eingetreten</option>
                    <option value="ausgetreten" {{ 'selected' if entry.status == 'ausgetreten' else '' }}>ausgetreten</option>
                </select>
            </td>
            <td>
                {{ entry.timestamp.split(' ')[0] }}
                <input type="time" class="timeInp"
                    value="{{ entry.timestamp.split(' ')[1][:8] }}">
            </td>
            <td>
                <span class="saveIcon" style="display:none" title="Speichern">💾</span>
                <span class="delIcon"  title="Löschen">🗑️</span>
            </td>
            <td class="hidden"
                data-original='{{ entry | tojson | safe }}'>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Keine Einträge gefunden.</p>
    {% endif %}
    <div class="buttonRow">
        <button onclick="window.location.href='/'">Zurück zur Startseite</button>
    </div>
    <script src="{{ url_for('static', filename='edit.js') }}"></script>
</body>
</html>