<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Schüler bearbeiten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    
    {% if entries %}
    <h2>{{ title }} {{ entries[0].firstname }} {{ entries[1].lastname }}</h2>
    <table>
        <tr>
            <th>Kürzel</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>
                <span class="delIcon"  title="Löschen">🗑️</span>
            </td>
            <td>{{ entry.initials }}</td>
            <td>{{ entry.lastname }}</td>
            <td>{{ entry.firstname }}</td>
            <td>
                <select class="statusSel">
                    <option value="eingetreten" {{ 'selected' if entry.status == 'eingetreten' else '' }}>eingetreten</option>
                    <option value="ausgetreten" {{ 'selected' if entry.status == 'ausgetreten' else '' }}>ausgetreten</option>
                </select>
            </td>
            <td>
                <input type="date" class="dateInp" value="{{ entry.timestamp.split(' ')[0] }}">
                <input type="time" class="timeInp" value="{{ entry.timestamp.split(' ')[1][:8] }}">
            </td>
            <td>
                <span class="saveIcon" style="display:none" title="Speichern">💾</span>
            </td>
            <td class="hidden"
                data-original='{{ entry | tojson | safe }}'>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <a>Keine Einträge gefunden.</a>
    {% endif %}
    {% if show_edit_all_link is not defined or show_edit_all_link %}
    <a href="/edit-all?id={{ id }}" class="underlineLink">Alle Einträge anzeigen</a>
    {% endif %}
    <div class="buttonRow">
        <button onclick="window.location.href='/'">Zurück zur Startseite</button>
    </div>
    <script src="{{ url_for('static', filename='edit.js') }}"></script>
</body>
</html>